<!DOCTYPE html>
<html lang="es-mx">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GASOLINERÍA DON LALO</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

  <%- include('header'); -%>

    <div class="p-2">

      <a href="/" class="inline-block bg-cyan-500 p-2 rounded-lg mt-2 mb-1" role=>Regresar</a>

      <p class="text-center text-2xl font-medium my-2">Evaluación despachadores</p>
      <div class="flex justify-end gap-2">
        <p class="font-medium">Mes: <span class=font-normal><%- mes %></span></p>
        <p class="font-medium">Año: <span class=font-normal><%- ano %></span></p>

      </div>
      <table class="table-auto w-full">
        <thead>
          <tr>
            <th class="border text-center">Id</th>
            <th class="border text-center">Nombre completo</th>
            <th class="border text-left p-2">Qna</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border text-left p-2"><%- idchecador %></td>
            <td class="border text-left p-2"><%- nombre %></td>
            <td class="border text-center"><%- qna %></td>
          </tr>
        </tbody>
      </table>
      <!-- Colores de evaluacion -->
      <div class="flex gap-2 justify-center">
        <div class="flex items-center gap-2">
          <div class="w-2 h-2 bg-red-500"></div>
          No aceptable
        </div>
        <div class="flex items-center gap-2">
          <div class="w-2 h-2 bg-lime-600"></div>
          Aceptable
        </div>
      </div>

      <table class="table-auto">
        <thead>
          <tr>
            <th class="border text-left text-center p-2 bg-neutral-400">Incumplimiento</th>
            <th class="border text-left text-center p-2 bg-neutral-400">Resultado Esperado</th>
            <th class="border text-left text-center p-2 bg-neutral-400">Resultado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="border text-left p-2">Monto Faltante</th>
            <td class="border text-left text-center">$0.00</td>
            <td class="border text-center">$<%- mf %></td>
          </tr>
          <tr>
            <th class="border text-left p-2">Checklist Bomba</th>
            <td class="border text-left text-center">
              Mayor o igual a 12</td>
            <td class="border text-center"><%- ck %></td>
          </tr>
          <tr>
            <th class="border text-left p-2">Evaluación uniforme</th>
            <td class="border text-left text-center">
              Mayor o igual a 6</td>
            <td class="border text-center"><%- ev %></td>
          </tr>
          <tr>
            <th class="border text-left p-2">Orden y limpieza de isla</th>
            <td class="border text-left text-center">
              ---</td>
            <td class="border text-center">--</td>
          </tr>
          <tr>
            <th class="border text-left p-2">Pasos para despachar</th>
            <td class="border text-left text-center">
              Mayor o igual a 8</td>
            <td class="border text-center"><%- pd %></td>
          </tr>
          <tr>
            <th class="border text-left p-2">Recursos de despachador</th>
            <td class="border text-left text-center">
              Mayor o igual a 18</td>
            <td class="border text-center"><%- rd %></td>
          </tr>
          <tr>
            <th class="border text-left p-2">Salidas no conformes</th>
            <td class="border text-left text-center">
              Menor o igual a 5</td>
            <td class="border text-center"><%- snc %></td>
          </tr>
        </tbody>
      </table>
      <div class="mt-5 flex">
        <div class="flex gap-2 m-auto">
          <a href="<%- select-1 %>" class="bg-slate-500 p-2 rounded-lg <% if(select===1){ %> pointer-events-none <%}%>">
            < </a>
              <div class="flex">
                <div class="border px-2 py-1"><%- select %></div>
                <span class="px-2 py-1">de</span>
                <div class="bg-slate-400 border px-2 py-1"><%- nEvaluaciones.length %></div>
                <a href="<%- select+1 %>"
                  class="bg-slate-500 p-2 rounded-lg <% if(select===nEvaluaciones.length){ %> pointer-events-none <%}%>">>
                </a>
              </div>
        </div>
      </div>
    </div>
</body>

</html>