<!DOCTYPE html>
<html lang="es-mx">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, maximum-scale=1">
  <title>GASOLINERÍA DON LALO</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

  <%- include('header'); -%>

    <div class="p-2">

      <a href="/" class="inline-block bg-cyan-500 p-2 rounded-lg mt-2 mb-1" role=>Regresar</a>

      <p class="text-center text-2xl font-medium my-2">Evaluación despachadores</p>
      <div class="flex justify-end gap-2">
        <p class="font-medium">Mes: <span class=font-normal><%- mes %></span></p>
        <p class="font-medium">Año: <span class=font-normal><%- ano %></span></p>

      </div>
      <table class="table-auto sm:w-auto m-auto w-full">
        <thead>
          <tr>
            <th class="border border-black text-center">ID EMPLEADO</th>
            <td class="border border-black text-center px-2"><%- idchecador%></td>

            <th class="border border-black text-center p-2">QUINCENA</th>
            <td class="border border-black text-center p-2"><%- qna%></td>
          </tr>
          <tr>
            <th class="border border-black text-center">NOMBRE</th>
            <td class="border border-black p-1" colspan="3"><%- nombre %></td>

          </tr>
          <tr>
            <th class="border border-black text-center">PUESTO</th>
            <td class="border border-black" colspan="3"><%- departamento %></td>

          </tr>
        </thead>
      </table>
      <!-- Colores de evaluacion -->
      <div class="flex gap-2 justify-center">
        <div class="flex items-center gap-2">
          <div class="w-2 h-2 bg-red-500"></div>
          No conforme
        </div>
        <div class="flex items-center gap-2">
          <div class="w-2 h-2 bg-lime-600"></div>
          Conforme
        </div>
      </div>
      <div class="mx-auto">

        <table class="table-auto border border-black mx-auto">
          <thead>
            <tr>
              <th class="border text-left text-center p-2 bg-neutral-400">Reglamento</th>
              <th class="border text-left text-center p-2 bg-neutral-400">Resultado Esperado</th>
              <th class="border text-left text-center p-2 bg-neutral-400">Resultado Obtenido</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="border text-left p-2">Monto Faltante</th>
              <td class="border text-left text-center">Igual a $0.00</td>
              <td class="border text-center <% if(mf>0){ %> bg-red-600 text-white<%}else{%>bg-lime-600<%}%> p-2">$<%- mf
                  %>
              </td>
            </tr>
            <tr>
              <th class="border text-left p-2">Checklist Bomba</th>
              <td class="border text-left text-center">
                12 Registros</td>
              <td class="border text-center <% if(ck >11){ %> bg-lime-600 <%}else{%>bg-red-600<%}%>"><%- ckp %></td>
            </tr>
            <tr>
              <th class="border text-left p-2">Evaluación uniforme</th>
              <td class="border text-left text-center">
                Promedio mayor o igual a 8 </td>
              <td class="border text-center <% if(evp >= 8){ %> bg-lime-600 <%}else{%>bg-red-600<%}%>"><%- evp %></td>
            </tr>
            <tr>
              <th class="border text-left p-2">Orden y limpieza de isla</th>
              <td class="border text-left text-center">Promedio mayor o igual a 9</td>
              <td class="border text-center <% if(oylp >= 9){ %> bg-lime-600 <%}else{%>bg-red-600<%}%>"><%- oylp %></td>
            </tr>
            <tr>
              <th class="border text-left p-2">Pasos para despachar</th>
              <td class="border text-left text-center">
                Promedio mayor o igual a 8</td>
              <td class="border text-center <% if(pd >= 8){ %> bg-lime-600 <%}else{%>bg-red-600<%}%>"><%- pd %></td>
            </tr>
            <tr>
              <th class="border text-left p-2">Recursos de despachador</th>
              <td class="border text-left text-center">
                Promedio mayor o igual a 9</td>
              <td class="border text-center <% if(rdp >= 9){ %> bg-lime-600 <%}else{%>bg-red-600<%}%>"><%- rdp %></td>
            </tr>
            <tr>
              <th class="border text-left p-2">SNC otras</th>
              <td class="border text-left text-center">
                menor o igual a 3</td>
              <td class="border text-center <% if(sncp <= 3 ){ %> bg-lime-600 <%}else{%>bg-red-600<%}%>"><%- sncp %>
              </td>
            </tr>
            <tr>
              <th class="border text-left p-2">SNC por evaluación</th>
              <td class="border text-left text-center">
                menor o igual a 3</td>
              <td
                class="border text-center <% if(sncTotales <= 3 ){ %> bg-lime-600 <%}else{%>bg-red-600 text-white<%}%>">
                <%- sncTotales - sncp %>
              </td>
            </tr>
            <tr>
              <th class="border text-left p-2">Total SNC </th>
              <td class="border text-center">
                --- </td>
              <td class="text-center border" colspan="2"><%- sncTotales %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="mt-5 flex">
        <div class="flex gap-2 m-auto">
          <a href="<%- select-1 %>" class="bg-slate-500 p-2 rounded-lg <% if(select===1){ %> pointer-events-none <%}%>">
            < </a>
              <div class="flex">
                <div class="border px-2 py-1"><%- select %></div>
                <span class="px-2 py-1">de</span>
                <div class="bg-slate-400 border px-2 py-1"><%- nEvaluaciones.length %></div>
                <a href="<%- select+1 %>"
                  class="bg-slate-500 p-2 rounded-lg <% if(select===nEvaluaciones.length){ %> pointer-events-none <%}%>">>
                </a>
              </div>
        </div>
      </div>
    </div>
</body>

</html>