<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GASOLINERÍA DON LALO</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

  <%- include('header'); -%>

    <div class="p-2">

      <p class="text-2xl font-medium text-center">Despachores Activos</p>

      <table class="mt-5">
        <thead>
          <tr>
            <th class="text-center border">Id</th>
            <th class="text-center border" colspan="2">Nombre completo</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<despachadores.length; i++) {%>
            <tr>
              <td class="p-2 border text-center">
                <%= despachadores[i].idchecador %>
              </td>
              <td class="p-2 border">
                <%= despachadores[i].nombre %>
                  <%= despachadores[i].apellido_paterno %>
                    <%= despachadores[i].apellido_materno %>
              </td>
              <td class="p-2 border">
                <!-- <button onclick="window.localtion.href()">Ver evaluación</button> -->
                <a href="<%= despachadores[i].link %>" class="bg-cyan-400 p-2 rounded-lg" role="button">Evaluación</a>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>

    </div>
</body>

</html>